<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}TheoStreet Website{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <script src="https://kit.fontawesome.com/0583a05b6b.js" crossorigin="anonymous"></script>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <nav class="nav">
        <ul class="mx-auto">
            <li>
                <a href="{{ path('app_index') }}">
                    <figure>
                        <i class="fa-solid fa-house fa-2xl"></i>
                        <figcaption>
                            Accueil
                        </figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="{{ path('app_goodies_index') }}">
                    <figure>
                        <i class="fa-solid fa-shirt fa-2xl"></i>
                        <figcaption>
                            Goodies
                        </figcaption>
                    </figure>
                </a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ path('app_index') }}">
                        <figure>
                            <i class="fa-solid fa-gauge fa-2xl"></i>
                            <figcaption>
                                Dashboard
                            </figcaption>
                        </figure>
                    </a>
                </li>
            {% endif %}
            {% if app.user %}
                <li>
                    <a href="{{ path('app_logout') }}">
                        <figure>
                            <i class="fa-solid fa-power-off fa-2xl"></i>
                            <figcaption>
                                Se Deconnecter
                            </figcaption>
                        </figure>
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('app_login') }}">
                        <figure>
                            <i class="fa-solid fa-right-to-bracket fa-2xl"></i>
                            <figcaption>
                                Se Connecter
                            </figcaption>
                        </figure>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
