{% extends 'base.html.twig' %}

{% block title %}Goodies{% endblock %}

{% block body %}
    <h1>Goodies</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ goody.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ goody.nom }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ goody.prix }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ goody.photo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_goodies_index') }}">back to list</a>

    <a href="{{ path('app_goodies_edit', {'id': goody.id}) }}">edit</a>

    {{ include('goodies/_delete_form.html.twig') }}
{% endblock %}
